<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Item Details</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/fromformat.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">

        function printLink() {
            //  var contextPath = getContextPath();

            const link = document.getElementById('ItemPrintLink');
            link.href = `/Item/itemMasterReport`;
            console.log("Item Print button is working");
        }

    </script>

</head>
<body>
<div class="container">
    <div class="from_format">
        <div class="from_title text-center mb-2">
            <label>Item Master Form</label>
        </div>

        <form id="ItemForm" method="post" th:action="@{/Item/details}" th:object="${ItemDetails}">
            <div class="button_row mb-2">
                <button class="from_link" form="ItemForm" th:text="${isEdit ? 'Update' : 'Save'}"
                        type="submit"></button>
                <a class="from_link" th:href="@{/Item/list}">List</a>
                <a class="from_link" th:href="@{/Item/new}">New</a>


            </div>

            <input name="isEdit" th:value="${isEdit}" type="hidden"/>
            <input th:field="*{id}" type="hidden"/>

            <div class="row align-items-center text-end">
                <div class="col-2">
                    <label class="form-label" for="itemName">Item Name:</label>
                </div>
                <div class="col-2">
                    <input class="form-control" id="itemName" required th:field="*{itemName}" type="text">
                </div>
                <div class="col-2">
                    <label class="form-label" for="itemCode">Item Code:</label>
                </div>
                <div class="col-2">
                    <input class="form-control" id="itemCode" required th:field="*{itemCode}" type="text">
                </div>
                <div class="col-2">
                    <label class="form-label required" for="itemUnit">Item Unit</label>
                </div>
                <div class="col-2">
                    <select class="form-select" id="itemUnit" required th:field="*{itemUnit}">
                        <option value="">Select Unit</option>
                        <option th:each="unit : ${itemUnits}"
                                th:selected="${ItemDetails.itemUnit != null && ItemDetails.itemUnit == unit}"
                                th:text="${unit}"
                                th:value="${unit}">
                        </option>
                    </select>
                    <div class="error-message" th:errors="*{itemUnit}"
                         th:if="${#fields.hasErrors('itemUnit')}"></div>
                </div>
            </div>
            <div class="row align-items-center text-end">
                <div class="col-2 ">
                    <label class="form-label" for="itemLocation">Item Location:</label>
                </div>
                <div class="col-2">
                    <input class="form-control" id="itemLocation" required th:field="*{itemLocation}"
                           type="text">
                </div>
                <div class="col-2">
                    <label class="form-label" for="hsnCode">HSN Code:</label>
                </div>
                <div class="col-2">
                    <input class="form-control" id="hsnCode" required th:field="*{hsnCode}" type="text">
                </div>
                <div class="col-2">
                    <label class="form-label" for="itemRemark1">Item Remark 1:</label>
                </div>
                <div class="col-2">
                    <input class="form-control" id="itemRemark1" required th:field="*{itemRemark1}"
                           type="text">
                </div>
            </div>
            <div class="row align-items-center text-end">
                <div class="col-2">
                    <label class="form-label" for="itemRemark2">Item Remark 2:</label>
                </div>
                <div class="col-2">
                    <input class="form-control" id="itemRemark2" required th:field="*{itemRemark2}"
                           type="text">
                </div>
                <div class="col-2">
                    <label class="form-label" for="companyCode">Company Code:</label>
                </div>
                <div class="col-2">
                    <input class="form-control" id="companyCode" required th:readonly="readonly"
                           th:value="${companyCode}" type="text">
                </div>
            </div>
        </form>

        <div class="text-danger" role="alert" th:if="${error}">
            <p class="mb-0" th:text="${error}">Error message here</p>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>